/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/roboto-v29-latin-regular.woff2") format("woff2"),
    url("../fonts/roboto-v29-latin-regular.woff") format("woff");
}

/* roboto-500 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local(""),
    url("../fonts/roboto-v29-latin-500.woff2") format("woff2"),
    url("../fonts/roboto-v29-latin-500.woff") format("woff");
}

/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("../fonts/roboto-v29-latin-700.woff2") format("woff2"),
    url("../fonts/roboto-v29-latin-700.woff") format("woff");
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: 2px dashed #0A775F;
  outline-offset: 5px;
}

h2, h3, h4 {
  text-transform: uppercase;
}

body {
  min-width: 1440px;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  color: #222;

}

img {
  /* max-width: 100%; */
  height: auto;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
}

/* CONTAINER */
.container {
  width: 1400px;
  padding: 0 30px;
  margin: 0 auto;
}

/* HEADER */
header {
  width: 100%;
  background-image: url(../img/generaly-bg.png);
  background-blend-mode: overlay;
  background-color: #F3D7B7;
}

.header-top {
  padding: 40px 0;
}

.logo-link {
  display: flex;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.logo-seeds {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.logo-link:hover {
  opacity: 0.8;
}

.logo-link:active {
  opacity: 0.6;
}

.logo-title {
  width: 203px;
  height: 24px;
}

.header-nav {
  display: flex;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.header-nav-link {
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  color: #333333;
  transition: 0.2s;
}

.header-nav-link:hover {
  color: #0A775F;
}

.header-nav-link:active {
  opacity: 0.7;
}

.header-nav li:not(:last-child) {
  margin-right: 40px;
}

.header-inner-title {
  padding: 0 100px;
}

.header-inner-title-wrapper {
  height: 100%;
  position: relative;
}

.header-inner-title-wrapper::before {
  content: "";
  background-image: url(..//img/Coffeeroasters-emblame.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 214px;
  height: 214px;
  position: absolute;
  top: -265px;
  right: -120px;
}

.header-inner-title-head {
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  color: #000000;
  margin: 0 0 24px;
}

.header-inner-title-text {
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin: 0 0 34px;
}

.header-inner-link {
  display: inline-block;
  text-decoration: none;
  background: #0A775F;
  border-radius: 100px;
  padding: 16px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  transition: 0.2s;
}

.header-inner-link:hover {
  color: #C99B67;
}

.header-inner-link:active {
  opacity: 0.7;
}

.header-inner-img {
  width: 710px;
  margin-right: -50px;
}


.header-inner-picture {
  width: 710px;
  height: 696px;
}

/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
  padding-top: 20px;
}

/* hero */
.hero {
  text-align: center;
  background: #F8F8F2;
  width: 1400px;
  background-image: url(../img/generaly-bg.png);
  background-blend-mode: overlay;
  margin: 0 auto 20px;
  /* position: relative; */
}

.hero-head {
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  line-height: 59px;
  font-variant: small-caps;
  color: #000000;
}

.hero-wrapper {
  position: relative;
  padding: 0;
  margin: 30px 255px 0;
  padding-bottom: 50px;
}

.hero-wrapper::before {
  content: "";
  background: url(..//img/Vector.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 240px;
  height: 370px;
  top: -150px;
  left: -305px;
}

.hero-wrapper::after {
  content: "";
  background: url(..//img/Vector2.png) no-repeat;
  position: absolute;
  width: 135px;
  height: 431px;
  top: 570px;
  right: -305px;
}

.hero-header {
  text-align: center;
  margin: 0;
  padding: 50px;
  font-weight: bold;
  font-size: 50px;
  line-height: 59px;
}

.hero-items {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.hero-items:last-child:after {
  content: "";
  background: url(..//img/Vector3.png) no-repeat;
  position: absolute;
  width: 140px;
  height: 300px;
  left: -305px;
  bottom: 170px;
}

.hero-items:nth-child(even) {
  flex-direction: row-reverse;
}

.hero-items-img {
  width: 450px;
  height: 375px;
  margin-right: 117px;
  margin-left: -133px;
}

.hero-items:nth-child(even) img {
  margin-right: -133px;
  margin-left: 117px;
}

.hero-items-title-wrapper {
  width: 400px;
  text-align: left;
}

.hero-items-head {
  margin: 0 0 10px;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  /* font-variant: small-caps; */
  color: #333333;
}

.hero-items-title {
  margin: 0;
  width: 100%;
  font-size: 22px;
  line-height: 34px;
  color: #333333;
}

/* WHY CHOOSE US */
.whycu {
  text-align: center;
  background: #C99B67;
  background-image: url(../img/generaly-bg.png);
  background-blend-mode: overlay;
  width: 1400px;
  height: 700px;
  padding-top: 50px;
  margin: 0 auto 290px;
  color: #fff;
}

.whycu-header {
  font-weight: bold;
  font-size: 50px;
  line-height: 59px;
  margin: 0 0 10px;
}

.whycu-text {
  font-size: 16px;
  line-height: 28px;
  display: inline-block;
  width: 580px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.8;
  margin: 0 0 80px;
}

.whycu-list {
  display: flex;
  position: relative;
  margin: 0;
  padding: 0;
}

.whycu-list::before {
  content: "";
  position: absolute;
  background: url(..//img/but-first-coffee-smash.png);
  width: 140px;
  height: 144px;
  top: -50px;
  left: -50px;

}

.whycu-items {
  margin: 0;
  padding: 0;
  width: 433px;
  height: 630px;
}

.whycu-items:not(:last-child) {
  margin-right: 20px;
}

.whycu-items-img {
  width: 433px;
  height: 500px;
  margin-bottom: 28px;
}

.whycu-items-header {
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  font-variant: small-caps;
  color: #333333;
  text-align: left;
  margin: 0 0 10px;
}

.whycu-itmes-text {
  font-size: 18px;
  line-height: 28px;
  color: #333333;
  text-align: left;
  margin: 0;
}

/* HOW IT WORKS */
.hiw {
  text-align: center;
  background: #0A775F;
  background-image: url(../img/generaly-bg.png);
  background-blend-mode: overlay;
  width: 1400px;
  padding: 50px 0;
  margin: 0 auto 50px;
  color: #fff;
  position: relative;
}

.hiw::after {
  content: "";
  position: absolute;
  background: url(..//img/but-first-coffee.png);
  width: 227px;
  height: 192px;
  top: 41px;
  right: 68px;
}

.hiw-header {
  font-weight: bold;
  font-size: 50px;
  line-height: 59px;
  margin: 0 0 110px;
}

.hiw-devider {
  height: 0;
  border: 1px dashed #C99B67;
  width: 890px;
  margin: 0 auto 50px 30px;
}

.hiw-list {
  display: flex;
  padding: 0;
  margin: 0 0 60px;
}

.hiw-items {
  width: 433px;
  height: 396px;
  background: #F8F8F2;
  padding: 20px 20px 40px;
  position: relative;
}

.hiw-items::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  left: 0;
  top: -82px;
  background: #F8F8F2;
  border: 4px solid #C99B67;
}

.hiw-items:not(:last-child) {
  margin-right: 20px;
}

.hiw-items-number {
  display: inline-block;
  font-size: 64px;
  line-height: 75px;
  font-variant: small-caps;
  color: #333333;
  display: flex;
  justify-content: right;
  margin: 0 0 45px;
  opacity: 0.8;
}

.hiw-items-header {
  width: 251px;
  text-align: left;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  font-variant: small-caps;
  color: #333333;
  margin: 0 0 10px;
}

.hiw-items-text {
  text-align: left;
  font-size: 18px;
  line-height: 28px;
  color: #333333;
  margin: 0;
}

.hiw .header-inner-link {
  background-color: #C99B67;
}

.hiw *:focus {
  outline: 2px dashed #C99B67;
}

.hiw .header-inner-link:hover {
  color: #0A775F;
}

/* FOOTER */
footer {
  background-color: #F3D7B7;
  background-image: url(../img/generaly-bg.png);
  background-blend-mode: overlay;
  padding: 65px 0;
  box-sizing: border-box;
}

.header-nav-link {
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  color: #333333;
}

.header-nav li:not(:last-child) {
  margin-right: 40px;
}

.footer-sm-list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.footer-sm-items {
  display: flex;
}

.footer-sm-items:not(:last-child) {
  margin-right: 30px;
}

.facebook-icon-link {
  width: 30px;
  height: 30px;

}

.twitter-icon-link {
  width: 30px;
  height: 25px;
}

.instagram-icon-link {
  width: 30px;
  height: 30px;
}

.footer-sm-icons:hover {
  fill: #0A775F;
}

.footer-sm-icons:active {
  opacity: 0.6;
}

/* MEDIA */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
  .header-inner-title::before {
    background-image: url(..//img/Coffeeroasters-emblame@2x.png);
    background-size: cover;
  }

  .hero::before {
    background: url(..//img/Vector2@2x.png);
    background-size: cover;
  }

  .hero::after {
    background: url(..//img/Vector3@2x.png);
    background-size: cover;
  }

  .hero-wrapper::before {
    background: url(..//img/Vector@2x.png);
    background-size: cover;
  }

  .whycu-list::before {
    background: url(..//img/but-first-coffee-smash@2x.png);
    background-size: cover;
  }

  .hiw::after {
    background: url(..//img/but-first-coffee@2x.png);
    background-size: cover;
  }

  .branch-items:first-child::before {
    background: url(../img/Britain-map@2x.png);
    background-size: cover;
  }

  .branch-items:nth-child(2)::before {
    background: url(../img/Canada-map@2x.png);
    background-size: cover;
  }

  .branch-items:last-child::before {
    background: url(../img/Australia-map@2x.png);
    background-size: cover;
  }

}

/* ABOUT US */
/* HERO-AU */
.hero-au {
  text-align: center;
  background: #F8F8F2;
  width: 1400px;
  background-image: url(../img/generaly-bg.png);
  background-blend-mode: overlay;
  margin: 0 auto 160px;
  position: relative;
}

.hero-inner-au {
  display: flex;
  align-items: center;
  padding: 160px 34px 200px 135px;
  text-align: left;
  position: relative;
}

.hero-inner-au::before {
  content: "";
  background: url(..//img/Vector.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 240px;
  height: 370px;
  top: 50px;
  left: -50px;
  z-index: 0;
}

.hero-inner-img-au {
  width: 360px;
  height: 364px;
  z-index: 1;
}

.hero-inner-title-wrapper-au {
  width: 626px;
  margin-left: 185px;
}

.hero-inner-head-au {
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  font-variant: small-caps;
  color: #000000;
  margin: 0 0 24px;
}

.hero-inner-title-au {
  font-size: 18px;
  line-height: 30px;
  color: #333333;
  margin: 0;
}

/* QUALITY */
.quality {
  text-align: left;
  background: #C99B67;
  width: 1400px;
  background-image: url(../img/generaly-bg.png);
  background-blend-mode: overlay;
  margin: 0 auto 20px;
  padding: 100px 0 118px 113px;
}

.quality-inner-wrapper {
  display: flex;
}

.quality-inner {
  margin-right: 38px;
  color: #fff;
}

.quality-inner-header {
  width: 400px;
  font-weight: bold;
  font-size: 50px;
  line-height: 59px;
  font-variant: small-caps;
  margin: 0 0 24px;
}

.quality-inner-text {
  width: 638px;
  font-size: 18px;
  line-height: 30px;
  mix-blend-mode: normal;
  opacity: 0.8;
  margin: 0;
}

.quality-inner-img {
  width: 550px;
  height: 500px;
  margin-top: -180px;
}

/* BRANCH */
.branch {
  text-align: center;
  background: #0A775F;
  width: 1400px;
  background-image: url(../img/generaly-bg.png);
  background-blend-mode: overlay;
  margin: 0 auto 50px;
  padding: 50px 0 100px;
}

.branch-header {
  font-weight: bold;
  font-size: 50px;
  line-height: 59px;
  font-variant: small-caps;
  color: #FFFFFF;
  margin: 0 0 80px;
}

.branch-items-wrapper {
  margin: 0;
  display: flex;
}

.branch-items {
  width: 433px;
  height: 396px;
  padding: 40px 20px;
  margin: auto 0 0;
  text-align: left;
  position: relative;
  color: #333333;
  background-color: #fff;
  padding-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.branch-items:not(:last-child) {
  margin-right: 20px;
}

.branch-items:first-child::before {
  content: "";
  position: absolute;
  background: url(../img/Britain-map.png);
  width: 120px;
  height: 143px;
  top: 45px;
  right: 55px;
}

.branch-items:nth-child(2)::before {
  content: "";
  position: absolute;
  background: url(../img/Canada-map.png);
  width: 120px;
  height: 120px;
  top: 45px;
  right: 55px;
}

.branch-items:last-child::before {
  content: "";
  position: absolute;
  background: url(../img/Australia-map.png);
  width: 120px;
  height: 107px;
  top: 45px;
  right: 55px;
}

.branch-items-header {
  width: 190px;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  font-variant: small-caps;
  margin: 0 0 10px;
}

.branch-items-text {
  font-size: 18px;
  line-height: 28px;
  margin: 0;
}

/* CREAT YOUR PLAN */
/* JUST */
.just .hiw {
  padding: 100px 0 80px;
  margin-bottom: 20px;
}

.just .hiw::after {
  content: none;
}

.just .hiw-list {
  margin-bottom: 0;
}

/* HREO-CP */

.hero-cp {
  width: 1400px;
  background: #F8F8F2;
  background-image: url(../img/generaly-bg.png);
  background-blend-mode: overlay;
  margin: 0 auto 50px;
  padding: 50px 0;
}

.hero-cp-wrapper {
  display: flex;
  position: relative;
}

.hero-cp-nav-wrapper {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  padding: 0;
  margin: 0;
  margin-right: 340px;
}

.hero-cp-nav {
  text-align: left;
  list-style: none;
  width: 230px;
  padding: 0;
  margin: 0;
}

.hero-cp-nav:not(:last-child) {
  margin-bottom: 30px;
}

.hero-cp-nav-btn {
  background-color: rgba(255, 255, 255, 0);
  text-transform: uppercase;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  color: #555555;
  padding: 0 0 5px;
  border: none;
  cursor: pointer;
}

.hero-cp-nav-btn:hover {
  color: #000000ab;
  border-bottom: 3px dashed #c99b67ab
}

.active-btn {
  color: #000000;
  border-bottom: 3px dashed #C99B67;
}

.hero-cp-list {
  width: 660px;
  position: relative;
  padding: 0;
}

.hero-cp-items {
  margin-bottom: 60px;
}

.hero-cp-items:first-child:after {
  content: "";
  position: absolute;
  background: url(../img/Vector2.png) no-repeat;
  width: 135px;
  height: 431px;
  top: 60px;
  right: -164px;
}

.hero-cp-items:first-child::before {
  content: "";
  position: absolute;
  background: url(../img/Vector.png) no-repeat;
  width: 240px;
  height: 370px;
  top: 600px;
  left: -620px;
}

.nth-item:before {
  content: "";
  position: absolute;
  background: url(../img/Vector3.png) no-repeat;
  width: 135px;
  height: 431px;
  top: 1460px;
  left: -620px;
}

.hero-cp-items-header {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 35px;
  line-height: 47px;
  font-variant: small-caps;
  text-align: left;
  color: #000000;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  padding: 0 84px 0 0;
  border: none;
  margin-bottom: 20px;
  position: relative;
  background-image: url(..//img/down-icon.svg);
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: top 18px right 18px;
}

.hero-cp-items-header:hover {
  color: #0A775F;
}

.hero-cp-items-header:active {
  opacity: 0.8;
}

.hero-cp-items-header::after {
  content: "";
  position: absolute;
  background-image: url(..//img/down-icon.svg);
  background-repeat: no-repeat;
  width: 18px;
  background-position: top 35px, right 18px;
}

.hero-cp-items-var {
  display: flex;
  padding: 0;
  margin: 0;
}

.hero-cp-items-title {
  margin: 0;
  padding: 0;
  width: 208px;
  height: 220px;
  color: #333;
  background-color: rgba(10, 119, 95, 0.2);
  padding: 30px 12px 10px 16px;
  cursor: pointer;
}

.hero-cp-items-title:hover {
  background: #0a775fad;
  color: #f3f3f3;
}

.hero-cp-items-title-active {
  background: #0A775F;
  color: #fff;
}

.hero-cp-items-title:not(:last-child) {
  margin-right: 18px;
}

.hero-cp-items-title-header {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  font-variant: small-caps;
  margin: 0 0 10px;
}

.hero-cp-items-title-text {
  font-size: 18px;
  line-height: 24px;
}

.hero-cp-order {
  width: 100%;
  background: #C99B67;
  padding: 40px 20px;
  margin: 100px 0 20px;
}

.hero-cp-order-header {
  font-size: 16px;
  line-height: 19px;
  display: inline-block;
  text-transform: uppercase;
  color: #FFFFFF;
  mix-blend-mode: normal;
  margin: 0 0 14px;
}

.hero-cp-order-text {
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  color: #FFFFFF;
  margin: 0;
  display: block;
}

.hero-cp-order-text span {
  color: #333;
}

.hero-cp-order-link-wrapper {
  display: flex;
  align-items: end;
}

.hero-cp-list .header-inner-link {
  margin-left: auto;
}